.title {
    display: flex;
    align-items: center;
    justify-content: center;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container form {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin-bottom: 30px;
}

label {
    display: block;
    margin-top: 1rem;
    margin-bottom: 10px;
}

.address {
    margin-top: 10px;
}

form>div, form>div input, form>input {width: 200px;}
form>select {width: 208px;}